**/.gradle/
**/build/
**/bin/
**/dist/
**/node_modules/
Frontend/user-frontend/public/faceId/*/*
!Frontend/user-frontend/public/faceId/.gitkeep
**/.env
**/.env.local
Backend/activity-service/.idea/compiler.xml
Backend/activity-service/.idea/gradle.xml
Backend/activity-service/.idea/misc.xml
Backend/activity-service/.idea/vcs.xml
Backend/activity-service/.idea/workspace.xml
Backend/exam-service/.idea/compiler.xml
Backend/exam-service/.idea/gradle.xml
Backend/exam-service/.idea/misc.xml
Backend/exam-service/.idea/vcs.xml
